@model IEnumerable<Hotel>

<div class="container-fluid p-0 border border-1 border-top-0 pb-5" style="margin-top:100px;">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="my-4">Tìm khách sạn - Giá tốt nhất</h1>
            <form method="post" class="w-100">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="input-group w-50">
                        <input name="cityInput" type="text" class="form-control" placeholder="Chọn thành phố mà bạn muốn đến" required>
                        <input name="inOutDate" type="text" class="form-control" id="dateRange" placeholder="Chọn ngày khởi hành">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row p-3 mt-5">
        @foreach (Hotel hotel in Model)
        {
            var location = $"Tp.{@hotel.City}, Q.{hotel.Ward}";
            var roomAvailabels = 0;
            if (hotel.Rooms != null && hotel.Rooms.Count > 0)
            {
                roomAvailabels = hotel.Rooms.Where(x => x.HotelId == @hotel.Id).Count();
            }@if (roomAvailabels != 0)
            {
                <div class="col-md-3 my-3">
                    <div class="product-card">
                        <div style="height:250px;" class="d-flex justify-content-center">
                            @if (hotel.HotelImages != null && hotel.HotelImages.Count > 0)
                            {
                                <img class="img-fluid mb-3 " src="@hotel.HotelImages.FirstOrDefault().ImageUrl" />
                            }
                            else
                            {
                                <img class="img-fluid mb-3" src="~/image/no_image.jpg">
                            }
                        </div>
                        <div class="card-title fw-bold my-3">
                            <h4>@hotel.Name</h4>
                        </div>
                        <div class="my-3">
                            <span><i class="bi bi-geo-alt"></i>@location</span>
                        </div>

                        <div class="my-3 text-success">
                            <small><strong>Có @roomAvailabels phòng phù hợp</strong></small>
                        </div>

                        <div class="mt-4">
                            <a href="#" class="btn w-100 btn-outline-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <!-- Date Range Picker JS -->
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- jQuery UI JS for Autocomplete -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            var formatDate = 'YYYY/MM/DD';
            // Initialize the date range picker
            $('#dateRange').daterangepicker({
                locale: {
                    format: formatDate
                }
            });
            // // Handle apply.daterangepicker event
            // $('#dateRange').on('apply.daterangepicker', function (ev, picker) {
            //     startDateValue = picker.startDate.format(formatDate)
            //     endDateValue = picker.endDate.format(formatDate)
            // });

        });
    </script>
}